h1{
	text-align: center;
	font-size: 60px;
	font-family: Bodoni MT Condensed;
	margin-right: 25%;
	/* Background - Gradient */
	background: -webkit-linear-gradient(left, blue 30%, red 85%);
	background: linear-gradient(to right,blue 30%, red 85%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.logo{
	float: left;
}
.cabeçalho{
	text-decoration: none;
	color:black;
}